html {
	width: 100%;
}
body {
	background-image: url("header7.jpg");
	background-color: #EADDDA;
	background: linear-gradient(#DDEAEA, #EADDDA) repeat scroll 0 0 rgba(0, 0, 0, 0);
	#EADDDA
	#width: 960px;
	margin: 0 auto;
	min-height:500px;
}
div#header  {
	width: 100%;
	height:100px;
	border-bottom: 6px solid #00A8FF;
	#background-image: url("h4.jpg");
	# background-color: #FFFFFF;
}
div#content  {
	width:960px;
	margin:0 auto;
	min-height:510px;
	background-color: #FFFFFF;
	
}
div#nav {
	width: 100%;
	position: absoluted;
	#margin-top: 80px;
	# background-color: #6D139C;
	background-color: #FF9900;
	# background:-moz-linear-gradient(#FF9900, #EE4D00) repeat scroll 0 0 transparent;
	height:40px;
	#border: 1px solid #CCCCCC;
	#border-radius: 0.5em;
	font: 14px/1.5 tahoma,arial,ו;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-weight: bold;
	margin: 0px;
	left: 0px;
}
div #nav_content {
	width: 960px;
	margin: 0 auto;
}
div#footer  {
	width: 100%;
	height:120px;
	background-color: #0099FF;
	border-top: 6px outset #00A8FF;
	#background-image: url("h4.jpg");
	
}

ul {
	padding: 0px 10px;
	margin: 0px;
}

#nav li {
	float: left;
	# width: 120px;
	list-style: none;
	line-height: 40px;
}

#nav li a {
	padding: 8px 28px;
	border-left: 1px solid #B2B2B2;
}

#nav li:last-child a {
	border-right: 1px solid #B2B2B2;
}

#nav li:hover {
	background-color: #00A8FF;
	#border-radius: 0.2em;
	#color: #FF9900;
	#color: #0099FF;
}

#intro_menu ul {
	#padding: 20px;
	font-size: 14px;
	font-weight: bold;
}

#intro_menu li {
	padding: 0 0 0 42px;
	# float: left;
	width: 100px;
	list-style: none;
	line-height: 32px;
	border-bottom: 1px solid #CCCCCC;
	background: url("piture1.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}

#nav a {
	color: #FFFFFF;
	text-decoration: none; 
}

a {
	color: #0099FF;
	text-decoration: none; 
}

#nav a:hover ,a:hover{
	#color: #0099FF;
}

#service {
	float:left;width:235px;padding:10px 0;
	background:url('buystrip_gradient.png') no-repeat scroll 50% 0 transparent;
}

#service_2 {
	min-height:110px;padding:0 10px;border-right:1px solid #CCCCCC;
	border-top:1px solid #CCCCCC;
}

#service_3 {
	min-height:110px;padding:0 10px;
	border-top:1px solid #CCCCCC;
}

#name {
	padding:5px;font-size:16px;font-weight:bold;line-height:24px;text-align:center;
}

#content_2 {
	padding:5px;line-height:22px;color:#6E6E6E;
}

#service_2:hover {
	background-color: #AEDDEA;
}

#service_3:hover {
	background-color: #AEDDEA;
}

.clearfloat {
	clear:both;
	clear:float;
}

p {
	# background-color: gray;
	font: 14px/1.5 tahoma,arial,ו;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	text-indent: 2em;
	line-height: 28px;
}

#navgation {
	background:-moz-linear-gradient(left, #CCCCCC, #FFFFFF) repeat scroll 0 0 transparent;
	padding: 4px 32px 0 32px;
	font: 13px/1.5 tahoma,arial,ו;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	# font-weight: bold;
	line-height: 28px;
	width: 380px;
}

#news_title {
	padding: 10px 0;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}

#news_time {
	text-align: center;
	font-size: 13px;
	color: #6E6E6E;
}

#news_content {
	padding: 0px 32px;
	#border-top: 2px solid #90FFCC;
	border-top: 1px inset #90FFCC;
}

#intro_menu {
	# background:-moz-linear-gradient(left, #FFFFFF, #CCCCCC) repeat scroll 0 0 transparent;
	width: 200px;
	padding: 10px;
	# min-height: 100px;
	float: left;
	# border: 1px solid #FF9900
}

#intro_content {
	width: 720px;
	# min-height: 100px;
	float: left;
	border-left: 1px solid #CCCCCC;
}

.seleted {
	background-color: #6699FF;
}
.seleted a {
	color: #FF9966;
}

.title_style {
	padding:26px 0 0 214px;
}

#footer a {
	color: #CCCCCC;
}